#fond {
    color:whitesmoke; 
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    background-image: url(../img/blackmarble.png);
    background-attachment: fixed;  
}
*{
    transition-duration: 0.7s;
}
h4{
    color: brown;
}
.card1 {
    background-color: transparent;
    border: transparent;
}
ul {
    list-style-type: none;
    padding-left: 0px;
}
nav {
    opacity: 0.9;
}
.stars {
    float: right;
}
.nav-link{
    padding: .75rem 1rem;
}
.btn{
    color: white;
}
.btn :hover {
    color: brown;
}
@media screen and (min-width: 1000px) {
    .top {
        margin-top: 9em;
    }
    .card1 {
        margin-top: 8em;
    }
    #comp {
        margin-top: 6em;
    }
    .first{
        margin-top: 10em;
    }
    .bot{
        margin-bottom: 0em;
    }
}
@media screen and ( max-width: 1000px){
    .card1 {
        margin-top:4em;
    }
    .comp {
        margin-top: 2em;
    }
}
@media screen and (max-width: 575px){
    .top1 { 
        margin-top: 4em 
       }
    }
/*modal gogole maps*/
.map-container-9,.map-container-10,.map-container-11 {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-9 iframe,.map-container-10 iframe,.map-container-11 iframe{
    left:0;
    top:0;  
    height:100%;
    width:100%;
    position:absolute;
}
/* fin modal gogole maps*/
